pvt_key         = "{{ pvt_key }}"
datadog_api_url = "{{ datadog_api_url }}"
datadog_app_key = "{{ datadog_app_key }}"
my_site         = "{{ my_site }}"
my_site_https   = "{{ my_site_https }}"
instance_name   = "{{ instance_name }}"
droplet1_name = "{{ droplet1_name }}"
droplet2_name = "{{ droplet2_name }}"
balancer_name = "{{ balancer_name }}"